.infoCard {
  max-width: 425px;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  @media (max-width: 425px) {
    img {
      max-width: 400px;
    }
  }

  h3 {
    font-size: 64px;
  }

  img {
    margin-top: auto;
  }
}
