@use "../../style/variables" as *;
@use "../../style/placeholders";

header {
  background: url(../../assets/images/header-img.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 635px;

  .header_group {
    background: #35353587;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      color: $White;
      font-size: 128px;
      @extend %Licorice;
    }
  }
}
