@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inspiration&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Licorice&display=swap');

%Inika { font-family: "Inika", serif; }
%Licorice { font-family: "Licorice", cursive; }
%Inter { font-family: "Inter", sans-serif; }
%Inspiration { font-family: "Inspiration", cursive; }